priority -50

# umi
snippet umi-component-create "Create empty page"
import PropTypes from 'prop-types';

import styles from './index.less';

const ${1:Component} = ({
	${2}
}) => {
	return (
		<div>
			${3}
		</div>
	);
};


Header.propTypes = {
	$2
};

export default $1;
endsnippet

