snippet antd-theme-variable-ant-prefix
@ant-prefix
endsnippet


snippet antd-theme-variable-html-selector
@html-selector
endsnippet


snippet antd-theme-variable-primary-color
@primary-color
endsnippet


snippet antd-theme-variable-info-color
@info-color
endsnippet


snippet antd-theme-variable-success-color
@success-color
endsnippet


snippet antd-theme-variable-processing-color
@processing-color
endsnippet


snippet antd-theme-variable-error-color
@error-color
endsnippet


snippet antd-theme-variable-highlight-color
@highlight-color
endsnippet


snippet antd-theme-variable-warning-color
@warning-color
endsnippet


snippet antd-theme-variable-normal-color
@normal-color
endsnippet


snippet antd-theme-variable-white
@white
endsnippet


snippet antd-theme-variable-black
@black
endsnippet


snippet antd-theme-variable-primary-1
@primary-1
endsnippet


snippet antd-theme-variable-primary-2
@primary-2
endsnippet


snippet antd-theme-variable-primary-3
@primary-3
endsnippet


snippet antd-theme-variable-primary-4
@primary-4
endsnippet


snippet antd-theme-variable-primary-5
@primary-5
endsnippet


snippet antd-theme-variable-primary-6
@primary-6
endsnippet


snippet antd-theme-variable-primary-7
@primary-7
endsnippet


snippet antd-theme-variable-primary-8
@primary-8
endsnippet


snippet antd-theme-variable-primary-9
@primary-9
endsnippet


snippet antd-theme-variable-primary-10
@primary-10
endsnippet


snippet antd-theme-variable-body-background
@body-background
endsnippet


snippet antd-theme-variable-component-background
@component-background
endsnippet


snippet antd-theme-variable-font-family
@font-family
endsnippet


snippet antd-theme-variable-code-family
@code-family
endsnippet


snippet antd-theme-variable-text-color
@text-color
endsnippet


snippet antd-theme-variable-text-color-secondary
@text-color-secondary
endsnippet


snippet antd-theme-variable-text-color-inverse
@text-color-inverse
endsnippet


snippet antd-theme-variable-icon-color
@icon-color
endsnippet


snippet antd-theme-variable-icon-color-hover
@icon-color-hover
endsnippet


snippet antd-theme-variable-heading-color
@heading-color
endsnippet


snippet antd-theme-variable-heading-color-dark
@heading-color-dark
endsnippet


snippet antd-theme-variable-text-color-dark
@text-color-dark
endsnippet


snippet antd-theme-variable-text-color-secondary-dark
@text-color-secondary-dark
endsnippet


snippet antd-theme-variable-text-selection-bg
@text-selection-bg
endsnippet


snippet antd-theme-variable-font-variant-base
@font-variant-base
endsnippet


snippet antd-theme-variable-font-feature-settings-base
@font-feature-settings-base
endsnippet


snippet antd-theme-variable-font-size-base
@font-size-base
endsnippet


snippet antd-theme-variable-font-size-lg
@font-size-lg
endsnippet


snippet antd-theme-variable-font-size-sm
@font-size-sm
endsnippet


snippet antd-theme-variable-heading-1-size
@heading-1-size
endsnippet


snippet antd-theme-variable-heading-2-size
@heading-2-size
endsnippet


snippet antd-theme-variable-heading-3-size
@heading-3-size
endsnippet


snippet antd-theme-variable-heading-4-size
@heading-4-size
endsnippet


snippet antd-theme-variable-line-height-base
@line-height-base
endsnippet


snippet antd-theme-variable-border-radius-base
@border-radius-base
endsnippet


snippet antd-theme-variable-border-radius-sm
@border-radius-sm
endsnippet


snippet antd-theme-variable-padding-lg
@padding-lg
endsnippet


snippet antd-theme-variable-padding-md
@padding-md
endsnippet


snippet antd-theme-variable-padding-sm
@padding-sm
endsnippet


snippet antd-theme-variable-padding-xs
@padding-xs
endsnippet


snippet antd-theme-variable-control-padding-horizontal
@control-padding-horizontal
endsnippet


snippet antd-theme-variable-control-padding-horizontal-sm
@control-padding-horizontal-sm
endsnippet


snippet antd-theme-variable-item-active-bg
@item-active-bg
endsnippet


snippet antd-theme-variable-item-hover-bg
@item-hover-bg
endsnippet


snippet antd-theme-variable-iconfont-css-prefix
@iconfont-css-prefix
endsnippet


snippet antd-theme-variable-link-color
@link-color
endsnippet


snippet antd-theme-variable-link-hover-color
@link-hover-color
endsnippet


snippet antd-theme-variable-link-active-color
@link-active-color
endsnippet


snippet antd-theme-variable-link-decoration
@link-decoration
endsnippet


snippet antd-theme-variable-link-hover-decoration
@link-hover-decoration
endsnippet


snippet antd-theme-variable-ease-base-out
@ease-base-out
endsnippet


snippet antd-theme-variable-ease-base-in
@ease-base-in
endsnippet


snippet antd-theme-variable-ease-out
@ease-out
endsnippet


snippet antd-theme-variable-ease-in
@ease-in
endsnippet


snippet antd-theme-variable-ease-in-out
@ease-in-out
endsnippet


snippet antd-theme-variable-ease-out-back
@ease-out-back
endsnippet


snippet antd-theme-variable-ease-in-back
@ease-in-back
endsnippet


snippet antd-theme-variable-ease-in-out-back
@ease-in-out-back
endsnippet


snippet antd-theme-variable-ease-out-circ
@ease-out-circ
endsnippet


snippet antd-theme-variable-ease-in-circ
@ease-in-circ
endsnippet


snippet antd-theme-variable-ease-in-out-circ
@ease-in-out-circ
endsnippet


snippet antd-theme-variable-ease-out-quint
@ease-out-quint
endsnippet


snippet antd-theme-variable-ease-in-quint
@ease-in-quint
endsnippet


snippet antd-theme-variable-ease-in-out-quint
@ease-in-out-quint
endsnippet


snippet antd-theme-variable-border-color-base
@border-color-base
endsnippet


snippet antd-theme-variable-border-color-split
@border-color-split
endsnippet


snippet antd-theme-variable-border-color-inverse
@border-color-inverse
endsnippet


snippet antd-theme-variable-border-width-base
@border-width-base
endsnippet


snippet antd-theme-variable-border-style-base
@border-style-base
endsnippet


snippet antd-theme-variable-outline-blur-size
@outline-blur-size
endsnippet


snippet antd-theme-variable-outline-width
@outline-width
endsnippet


snippet antd-theme-variable-outline-color
@outline-color
endsnippet


snippet antd-theme-variable-background-color-light
@background-color-light
endsnippet


snippet antd-theme-variable-background-color-base
@background-color-base
endsnippet


snippet antd-theme-variable-disabled-color
@disabled-color
endsnippet


snippet antd-theme-variable-disabled-bg
@disabled-bg
endsnippet


snippet antd-theme-variable-disabled-color-dark
@disabled-color-dark
endsnippet


snippet antd-theme-variable-shadow-color
@shadow-color
endsnippet


snippet antd-theme-variable-shadow-color-inverse
@shadow-color-inverse
endsnippet


snippet antd-theme-variable-box-shadow-base
@box-shadow-base
endsnippet


snippet antd-theme-variable-shadow-1-up
@shadow-1-up
endsnippet


snippet antd-theme-variable-shadow-1-down
@shadow-1-down
endsnippet


snippet antd-theme-variable-shadow-1-left
@shadow-1-left
endsnippet


snippet antd-theme-variable-shadow-1-right
@shadow-1-right
endsnippet


snippet antd-theme-variable-shadow-2
@shadow-2
endsnippet


snippet antd-theme-variable-btn-font-weight
@btn-font-weight
endsnippet


snippet antd-theme-variable-btn-border-radius-base
@btn-border-radius-base
endsnippet


snippet antd-theme-variable-btn-border-radius-sm
@btn-border-radius-sm
endsnippet


snippet antd-theme-variable-btn-border-width
@btn-border-width
endsnippet


snippet antd-theme-variable-btn-border-style
@btn-border-style
endsnippet


snippet antd-theme-variable-btn-shadow
@btn-shadow
endsnippet


snippet antd-theme-variable-btn-primary-shadow
@btn-primary-shadow
endsnippet


snippet antd-theme-variable-btn-text-shadow
@btn-text-shadow
endsnippet


snippet antd-theme-variable-btn-primary-color
@btn-primary-color
endsnippet


snippet antd-theme-variable-btn-primary-bg
@btn-primary-bg
endsnippet


snippet antd-theme-variable-btn-default-color
@btn-default-color
endsnippet


snippet antd-theme-variable-btn-default-bg
@btn-default-bg
endsnippet


snippet antd-theme-variable-btn-default-border
@btn-default-border
endsnippet


snippet antd-theme-variable-btn-danger-color
@btn-danger-color
endsnippet


snippet antd-theme-variable-btn-danger-bg
@btn-danger-bg
endsnippet


snippet antd-theme-variable-btn-danger-border
@btn-danger-border
endsnippet


snippet antd-theme-variable-btn-disable-color
@btn-disable-color
endsnippet


snippet antd-theme-variable-btn-disable-bg
@btn-disable-bg
endsnippet


snippet antd-theme-variable-btn-disable-border
@btn-disable-border
endsnippet


snippet antd-theme-variable-btn-padding-base
@btn-padding-base
endsnippet


snippet antd-theme-variable-btn-font-size-lg
@btn-font-size-lg
endsnippet


snippet antd-theme-variable-btn-font-size-sm
@btn-font-size-sm
endsnippet


snippet antd-theme-variable-btn-padding-lg
@btn-padding-lg
endsnippet


snippet antd-theme-variable-btn-padding-sm
@btn-padding-sm
endsnippet


snippet antd-theme-variable-btn-height-base
@btn-height-base
endsnippet


snippet antd-theme-variable-btn-height-lg
@btn-height-lg
endsnippet


snippet antd-theme-variable-btn-height-sm
@btn-height-sm
endsnippet


snippet antd-theme-variable-btn-circle-size
@btn-circle-size
endsnippet


snippet antd-theme-variable-btn-circle-size-lg
@btn-circle-size-lg
endsnippet


snippet antd-theme-variable-btn-circle-size-sm
@btn-circle-size-sm
endsnippet


snippet antd-theme-variable-btn-square-size
@btn-square-size
endsnippet


snippet antd-theme-variable-btn-square-size-lg
@btn-square-size-lg
endsnippet


snippet antd-theme-variable-btn-square-size-sm
@btn-square-size-sm
endsnippet


snippet antd-theme-variable-btn-group-border
@btn-group-border
endsnippet


snippet antd-theme-variable-checkbox-size
@checkbox-size
endsnippet


snippet antd-theme-variable-checkbox-color
@checkbox-color
endsnippet


snippet antd-theme-variable-checkbox-check-color
@checkbox-check-color
endsnippet


snippet antd-theme-variable-checkbox-border-width
@checkbox-border-width
endsnippet


snippet antd-theme-variable-descriptions-bg
@descriptions-bg
endsnippet


snippet antd-theme-variable-dropdown-selected-color
@dropdown-selected-color
endsnippet


snippet antd-theme-variable-empty-font-size
@empty-font-size
endsnippet


snippet antd-theme-variable-radio-size
@radio-size
endsnippet


snippet antd-theme-variable-radio-dot-color
@radio-dot-color
endsnippet


snippet antd-theme-variable-radio-button-bg
@radio-button-bg
endsnippet


snippet antd-theme-variable-radio-button-checked-bg
@radio-button-checked-bg
endsnippet


snippet antd-theme-variable-radio-button-color
@radio-button-color
endsnippet


snippet antd-theme-variable-radio-button-hover-color
@radio-button-hover-color
endsnippet


snippet antd-theme-variable-radio-button-active-color
@radio-button-active-color
endsnippet


snippet antd-theme-variable-screen-xs
@screen-xs
endsnippet


snippet antd-theme-variable-screen-xs-min
@screen-xs-min
endsnippet


snippet antd-theme-variable-screen-sm
@screen-sm
endsnippet


snippet antd-theme-variable-screen-sm-min
@screen-sm-min
endsnippet


snippet antd-theme-variable-screen-md
@screen-md
endsnippet


snippet antd-theme-variable-screen-md-min
@screen-md-min
endsnippet


snippet antd-theme-variable-screen-lg
@screen-lg
endsnippet


snippet antd-theme-variable-screen-lg-min
@screen-lg-min
endsnippet


snippet antd-theme-variable-screen-xl
@screen-xl
endsnippet


snippet antd-theme-variable-screen-xl-min
@screen-xl-min
endsnippet


snippet antd-theme-variable-screen-xxl
@screen-xxl
endsnippet


snippet antd-theme-variable-screen-xxl-min
@screen-xxl-min
endsnippet


snippet antd-theme-variable-screen-xs-max
@screen-xs-max
endsnippet


snippet antd-theme-variable-screen-sm-max
@screen-sm-max
endsnippet


snippet antd-theme-variable-screen-md-max
@screen-md-max
endsnippet


snippet antd-theme-variable-screen-lg-max
@screen-lg-max
endsnippet


snippet antd-theme-variable-screen-xl-max
@screen-xl-max
endsnippet


snippet antd-theme-variable-grid-columns
@grid-columns
endsnippet


snippet antd-theme-variable-grid-gutter-width
@grid-gutter-width
endsnippet


snippet antd-theme-variable-layout-body-background
@layout-body-background
endsnippet


snippet antd-theme-variable-layout-header-background
@layout-header-background
endsnippet


snippet antd-theme-variable-layout-footer-background
@layout-footer-background
endsnippet


snippet antd-theme-variable-layout-header-height
@layout-header-height
endsnippet


snippet antd-theme-variable-layout-header-padding
@layout-header-padding
endsnippet


snippet antd-theme-variable-layout-footer-padding
@layout-footer-padding
endsnippet


snippet antd-theme-variable-layout-sider-background
@layout-sider-background
endsnippet


snippet antd-theme-variable-layout-trigger-height
@layout-trigger-height
endsnippet


snippet antd-theme-variable-layout-trigger-background
@layout-trigger-background
endsnippet


snippet antd-theme-variable-layout-trigger-color
@layout-trigger-color
endsnippet


snippet antd-theme-variable-layout-zero-trigger-width
@layout-zero-trigger-width
endsnippet


snippet antd-theme-variable-layout-zero-trigger-height
@layout-zero-trigger-height
endsnippet


snippet antd-theme-variable-layout-sider-background-light
@layout-sider-background-light
endsnippet


snippet antd-theme-variable-layout-trigger-background-light
@layout-trigger-background-light
endsnippet


snippet antd-theme-variable-layout-trigger-color-light
@layout-trigger-color-light
endsnippet


snippet antd-theme-variable-zindex-table-fixed
@zindex-table-fixed
endsnippet


snippet antd-theme-variable-zindex-affix
@zindex-affix
endsnippet


snippet antd-theme-variable-zindex-back-top
@zindex-back-top
endsnippet


snippet antd-theme-variable-zindex-badge
@zindex-badge
endsnippet


snippet antd-theme-variable-zindex-picker-panel
@zindex-picker-panel
endsnippet


snippet antd-theme-variable-zindex-popup-close
@zindex-popup-close
endsnippet


snippet antd-theme-variable-zindex-modal
@zindex-modal
endsnippet


snippet antd-theme-variable-zindex-modal-mask
@zindex-modal-mask
endsnippet


snippet antd-theme-variable-zindex-message
@zindex-message
endsnippet


snippet antd-theme-variable-zindex-notification
@zindex-notification
endsnippet


snippet antd-theme-variable-zindex-popover
@zindex-popover
endsnippet


snippet antd-theme-variable-zindex-dropdown
@zindex-dropdown
endsnippet


snippet antd-theme-variable-zindex-picker
@zindex-picker
endsnippet


snippet antd-theme-variable-zindex-tooltip
@zindex-tooltip
endsnippet


snippet antd-theme-variable-animation-duration-slow
@animation-duration-slow
endsnippet


snippet antd-theme-variable-animation-duration-base
@animation-duration-base
endsnippet


snippet antd-theme-variable-animation-duration-fast
@animation-duration-fast
endsnippet


snippet antd-theme-variable-collapse-panel-border-radius
@collapse-panel-border-radius
endsnippet


snippet antd-theme-variable-dropdown-vertical-padding
@dropdown-vertical-padding
endsnippet


snippet antd-theme-variable-dropdown-font-size
@dropdown-font-size
endsnippet


snippet antd-theme-variable-dropdown-line-height
@dropdown-line-height
endsnippet


snippet antd-theme-variable-label-required-color
@label-required-color
endsnippet


snippet antd-theme-variable-label-color
@label-color
endsnippet


snippet antd-theme-variable-form-warning-input-bg
@form-warning-input-bg
endsnippet


snippet antd-theme-variable-form-item-margin-bottom
@form-item-margin-bottom
endsnippet


snippet antd-theme-variable-form-item-trailing-colon
@form-item-trailing-colon
endsnippet


snippet antd-theme-variable-form-vertical-label-padding
@form-vertical-label-padding
endsnippet


snippet antd-theme-variable-form-vertical-label-margin
@form-vertical-label-margin
endsnippet


snippet antd-theme-variable-form-error-input-bg
@form-error-input-bg
endsnippet


snippet antd-theme-variable-input-height-base
@input-height-base
endsnippet


snippet antd-theme-variable-input-height-lg
@input-height-lg
endsnippet


snippet antd-theme-variable-input-height-sm
@input-height-sm
endsnippet


snippet antd-theme-variable-input-padding-horizontal
@input-padding-horizontal
endsnippet


snippet antd-theme-variable-input-padding-horizontal-base
@input-padding-horizontal-base
endsnippet


snippet antd-theme-variable-input-padding-horizontal-sm
@input-padding-horizontal-sm
endsnippet


snippet antd-theme-variable-input-padding-horizontal-lg
@input-padding-horizontal-lg
endsnippet


snippet antd-theme-variable-input-padding-vertical-base
@input-padding-vertical-base
endsnippet


snippet antd-theme-variable-input-padding-vertical-sm
@input-padding-vertical-sm
endsnippet


snippet antd-theme-variable-input-padding-vertical-lg
@input-padding-vertical-lg
endsnippet


snippet antd-theme-variable-input-placeholder-color
@input-placeholder-color
endsnippet


snippet antd-theme-variable-input-color
@input-color
endsnippet


snippet antd-theme-variable-input-border-color
@input-border-color
endsnippet


snippet antd-theme-variable-input-bg
@input-bg
endsnippet


snippet antd-theme-variable-input-number-handler-active-bg
@input-number-handler-active-bg
endsnippet


snippet antd-theme-variable-input-addon-bg
@input-addon-bg
endsnippet


snippet antd-theme-variable-input-hover-border-color
@input-hover-border-color
endsnippet


snippet antd-theme-variable-input-disabled-bg
@input-disabled-bg
endsnippet


snippet antd-theme-variable-input-outline-offset
@input-outline-offset
endsnippet


snippet antd-theme-variable-select-border-color
@select-border-color
endsnippet


snippet antd-theme-variable-select-item-selected-font-weight
@select-item-selected-font-weight
endsnippet


snippet antd-theme-variable-select-dropdown-bg
@select-dropdown-bg
endsnippet


snippet antd-theme-variable-select-item-selected-bg
@select-item-selected-bg
endsnippet


snippet antd-theme-variable-select-item-active-bg
@select-item-active-bg
endsnippet


snippet antd-theme-variable-anchor-border-color
@anchor-border-color
endsnippet


snippet antd-theme-variable-tooltip-max-width
@tooltip-max-width
endsnippet


snippet antd-theme-variable-tooltip-color
@tooltip-color
endsnippet


snippet antd-theme-variable-tooltip-bg
@tooltip-bg
endsnippet


snippet antd-theme-variable-tooltip-arrow-width
@tooltip-arrow-width
endsnippet


snippet antd-theme-variable-tooltip-distance
@tooltip-distance
endsnippet


snippet antd-theme-variable-tooltip-arrow-color
@tooltip-arrow-color
endsnippet


snippet antd-theme-variable-popover-bg
@popover-bg
endsnippet


snippet antd-theme-variable-popover-color
@popover-color
endsnippet


snippet antd-theme-variable-popover-min-width
@popover-min-width
endsnippet


snippet antd-theme-variable-popover-arrow-width
@popover-arrow-width
endsnippet


snippet antd-theme-variable-popover-arrow-color
@popover-arrow-color
endsnippet


snippet antd-theme-variable-popover-arrow-outer-color
@popover-arrow-outer-color
endsnippet


snippet antd-theme-variable-popover-distance
@popover-distance
endsnippet


snippet antd-theme-variable-modal-body-padding
@modal-body-padding
endsnippet


snippet antd-theme-variable-modal-header-bg
@modal-header-bg
endsnippet


snippet antd-theme-variable-modal-footer-bg
@modal-footer-bg
endsnippet


snippet antd-theme-variable-modal-mask-bg
@modal-mask-bg
endsnippet


snippet antd-theme-variable-progress-default-color
@progress-default-color
endsnippet


snippet antd-theme-variable-progress-remaining-color
@progress-remaining-color
endsnippet


snippet antd-theme-variable-progress-text-color
@progress-text-color
endsnippet


snippet antd-theme-variable-progress-radius
@progress-radius
endsnippet


snippet antd-theme-variable-menu-inline-toplevel-item-height
@menu-inline-toplevel-item-height
endsnippet


snippet antd-theme-variable-menu-item-height
@menu-item-height
endsnippet


snippet antd-theme-variable-menu-collapsed-width
@menu-collapsed-width
endsnippet


snippet antd-theme-variable-menu-bg
@menu-bg
endsnippet


snippet antd-theme-variable-menu-popup-bg
@menu-popup-bg
endsnippet


snippet antd-theme-variable-menu-item-color
@menu-item-color
endsnippet


snippet antd-theme-variable-menu-highlight-color
@menu-highlight-color
endsnippet


snippet antd-theme-variable-menu-item-active-bg
@menu-item-active-bg
endsnippet


snippet antd-theme-variable-menu-item-active-border-width
@menu-item-active-border-width
endsnippet


snippet antd-theme-variable-menu-item-group-title-color
@menu-item-group-title-color
endsnippet


snippet antd-theme-variable-menu-icon-size
@menu-icon-size
endsnippet


snippet antd-theme-variable-menu-icon-size-lg
@menu-icon-size-lg
endsnippet


snippet antd-theme-variable-menu-item-vertical-margin
@menu-item-vertical-margin
endsnippet


snippet antd-theme-variable-menu-item-font-size
@menu-item-font-size
endsnippet


snippet antd-theme-variable-menu-item-boundary-margin
@menu-item-boundary-margin
endsnippet


snippet antd-theme-variable-menu-icon-size
@menu-icon-size
endsnippet


snippet antd-theme-variable-menu-icon-size-lg
@menu-icon-size-lg
endsnippet


snippet antd-theme-variable-menu-dark-selected-item-icon-color
@menu-dark-selected-item-icon-color
endsnippet


snippet antd-theme-variable-menu-dark-selected-item-text-color
@menu-dark-selected-item-text-color
endsnippet


snippet antd-theme-variable-dark-menu-item-hover-bg
@dark-menu-item-hover-bg
endsnippet


snippet antd-theme-variable-menu-dark-color
@menu-dark-color
endsnippet


snippet antd-theme-variable-menu-dark-bg
@menu-dark-bg
endsnippet


snippet antd-theme-variable-menu-dark-arrow-color
@menu-dark-arrow-color
endsnippet


snippet antd-theme-variable-menu-dark-submenu-bg
@menu-dark-submenu-bg
endsnippet


snippet antd-theme-variable-menu-dark-highlight-color
@menu-dark-highlight-color
endsnippet


snippet antd-theme-variable-menu-dark-item-active-bg
@menu-dark-item-active-bg
endsnippet


snippet antd-theme-variable-menu-dark-selected-item-icon-color
@menu-dark-selected-item-icon-color
endsnippet


snippet antd-theme-variable-menu-dark-selected-item-text-color
@menu-dark-selected-item-text-color
endsnippet


snippet antd-theme-variable-menu-dark-item-hover-bg
@menu-dark-item-hover-bg
endsnippet


snippet antd-theme-variable-spin-dot-size-sm
@spin-dot-size-sm
endsnippet


snippet antd-theme-variable-spin-dot-size
@spin-dot-size
endsnippet


snippet antd-theme-variable-spin-dot-size-lg
@spin-dot-size-lg
endsnippet


snippet antd-theme-variable-table-header-bg
@table-header-bg
endsnippet


snippet antd-theme-variable-table-header-color
@table-header-color
endsnippet


snippet antd-theme-variable-table-header-sort-bg
@table-header-sort-bg
endsnippet


snippet antd-theme-variable-table-body-sort-bg
@table-body-sort-bg
endsnippet


snippet antd-theme-variable-table-row-hover-bg
@table-row-hover-bg
endsnippet


snippet antd-theme-variable-table-selected-row-color
@table-selected-row-color
endsnippet


snippet antd-theme-variable-table-selected-row-bg
@table-selected-row-bg
endsnippet


snippet antd-theme-variable-table-body-selected-sort-bg
@table-body-selected-sort-bg
endsnippet


snippet antd-theme-variable-table-selected-row-hover-bg
@table-selected-row-hover-bg
endsnippet


snippet antd-theme-variable-table-expanded-row-bg
@table-expanded-row-bg
endsnippet


snippet antd-theme-variable-table-padding-vertical
@table-padding-vertical
endsnippet


snippet antd-theme-variable-table-padding-horizontal
@table-padding-horizontal
endsnippet


snippet antd-theme-variable-table-border-radius-base
@table-border-radius-base
endsnippet


snippet antd-theme-variable-table-footer-bg
@table-footer-bg
endsnippet


snippet antd-theme-variable-table-footer-color
@table-footer-color
endsnippet


snippet antd-theme-variable-tag-default-bg
@tag-default-bg
endsnippet


snippet antd-theme-variable-tag-default-color
@tag-default-color
endsnippet


snippet antd-theme-variable-tag-font-size
@tag-font-size
endsnippet


snippet antd-theme-variable-time-picker-panel-column-width
@time-picker-panel-column-width
endsnippet


snippet antd-theme-variable-time-picker-panel-width
@time-picker-panel-width
endsnippet


snippet antd-theme-variable-time-picker-selected-bg
@time-picker-selected-bg
endsnippet


snippet antd-theme-variable-carousel-dot-width
@carousel-dot-width
endsnippet


snippet antd-theme-variable-carousel-dot-height
@carousel-dot-height
endsnippet


snippet antd-theme-variable-carousel-dot-active-width
@carousel-dot-active-width
endsnippet


snippet antd-theme-variable-badge-height
@badge-height
endsnippet


snippet antd-theme-variable-badge-dot-size
@badge-dot-size
endsnippet


snippet antd-theme-variable-badge-font-size
@badge-font-size
endsnippet


snippet antd-theme-variable-badge-font-weight
@badge-font-weight
endsnippet


snippet antd-theme-variable-badge-status-size
@badge-status-size
endsnippet


snippet antd-theme-variable-badge-text-color
@badge-text-color
endsnippet


snippet antd-theme-variable-rate-star-color
@rate-star-color
endsnippet


snippet antd-theme-variable-rate-star-bg
@rate-star-bg
endsnippet


snippet antd-theme-variable-card-head-color
@card-head-color
endsnippet


snippet antd-theme-variable-card-head-background
@card-head-background
endsnippet


snippet antd-theme-variable-card-head-padding
@card-head-padding
endsnippet


snippet antd-theme-variable-card-inner-head-padding
@card-inner-head-padding
endsnippet


snippet antd-theme-variable-card-padding-base
@card-padding-base
endsnippet


snippet antd-theme-variable-card-actions-background
@card-actions-background
endsnippet


snippet antd-theme-variable-card-background
@card-background
endsnippet


snippet antd-theme-variable-card-shadow
@card-shadow
endsnippet


snippet antd-theme-variable-card-radius
@card-radius
endsnippet


snippet antd-theme-variable-comment-padding-base
@comment-padding-base
endsnippet


snippet antd-theme-variable-comment-nest-indent
@comment-nest-indent
endsnippet


snippet antd-theme-variable-comment-font-size-base
@comment-font-size-base
endsnippet


snippet antd-theme-variable-comment-font-size-sm
@comment-font-size-sm
endsnippet


snippet antd-theme-variable-comment-author-name-color
@comment-author-name-color
endsnippet


snippet antd-theme-variable-comment-author-time-color
@comment-author-time-color
endsnippet


snippet antd-theme-variable-comment-action-color
@comment-action-color
endsnippet


snippet antd-theme-variable-comment-action-hover-color
@comment-action-hover-color
endsnippet


snippet antd-theme-variable-tabs-card-head-background
@tabs-card-head-background
endsnippet


snippet antd-theme-variable-tabs-card-height
@tabs-card-height
endsnippet


snippet antd-theme-variable-tabs-card-active-color
@tabs-card-active-color
endsnippet


snippet antd-theme-variable-tabs-title-font-size
@tabs-title-font-size
endsnippet


snippet antd-theme-variable-tabs-title-font-size-lg
@tabs-title-font-size-lg
endsnippet


snippet antd-theme-variable-tabs-title-font-size-sm
@tabs-title-font-size-sm
endsnippet


snippet antd-theme-variable-tabs-ink-bar-color
@tabs-ink-bar-color
endsnippet


snippet antd-theme-variable-tabs-bar-margin
@tabs-bar-margin
endsnippet


snippet antd-theme-variable-tabs-horizontal-margin
@tabs-horizontal-margin
endsnippet


snippet antd-theme-variable-tabs-horizontal-padding
@tabs-horizontal-padding
endsnippet


snippet antd-theme-variable-tabs-horizontal-padding-lg
@tabs-horizontal-padding-lg
endsnippet


snippet antd-theme-variable-tabs-horizontal-padding-sm
@tabs-horizontal-padding-sm
endsnippet


snippet antd-theme-variable-tabs-vertical-padding
@tabs-vertical-padding
endsnippet


snippet antd-theme-variable-tabs-vertical-margin
@tabs-vertical-margin
endsnippet


snippet antd-theme-variable-tabs-scrolling-size
@tabs-scrolling-size
endsnippet


snippet antd-theme-variable-tabs-highlight-color
@tabs-highlight-color
endsnippet


snippet antd-theme-variable-tabs-hover-color
@tabs-hover-color
endsnippet


snippet antd-theme-variable-tabs-active-color
@tabs-active-color
endsnippet


snippet antd-theme-variable-tabs-card-gutter
@tabs-card-gutter
endsnippet


snippet antd-theme-variable-tabs-card-tab-active-border-top
@tabs-card-tab-active-border-top
endsnippet


snippet antd-theme-variable-back-top-color
@back-top-color
endsnippet


snippet antd-theme-variable-back-top-bg
@back-top-bg
endsnippet


snippet antd-theme-variable-back-top-hover-bg
@back-top-hover-bg
endsnippet


snippet antd-theme-variable-avatar-size-base
@avatar-size-base
endsnippet


snippet antd-theme-variable-avatar-size-lg
@avatar-size-lg
endsnippet


snippet antd-theme-variable-avatar-size-sm
@avatar-size-sm
endsnippet


snippet antd-theme-variable-avatar-font-size-base
@avatar-font-size-base
endsnippet


snippet antd-theme-variable-avatar-font-size-lg
@avatar-font-size-lg
endsnippet


snippet antd-theme-variable-avatar-font-size-sm
@avatar-font-size-sm
endsnippet


snippet antd-theme-variable-avatar-bg
@avatar-bg
endsnippet


snippet antd-theme-variable-avatar-color
@avatar-color
endsnippet


snippet antd-theme-variable-avatar-border-radius
@avatar-border-radius
endsnippet


snippet antd-theme-variable-switch-height
@switch-height
endsnippet


snippet antd-theme-variable-switch-sm-height
@switch-sm-height
endsnippet


snippet antd-theme-variable-switch-sm-checked-margin-left
@switch-sm-checked-margin-left
endsnippet


snippet antd-theme-variable-switch-disabled-opacity
@switch-disabled-opacity
endsnippet


snippet antd-theme-variable-switch-color
@switch-color
endsnippet


snippet antd-theme-variable-switch-shadow-color
@switch-shadow-color
endsnippet


snippet antd-theme-variable-pagination-item-size
@pagination-item-size
endsnippet


snippet antd-theme-variable-pagination-item-size-sm
@pagination-item-size-sm
endsnippet


snippet antd-theme-variable-pagination-font-family
@pagination-font-family
endsnippet


snippet antd-theme-variable-pagination-font-weight-active
@pagination-font-weight-active
endsnippet


snippet antd-theme-variable-pagination-item-bg-active
@pagination-item-bg-active
endsnippet


snippet antd-theme-variable-page-header-padding-horizontal
@page-header-padding-horizontal
endsnippet


snippet antd-theme-variable-page-header-padding-vertical
@page-header-padding-vertical
endsnippet


snippet antd-theme-variable-breadcrumb-base-color
@breadcrumb-base-color
endsnippet


snippet antd-theme-variable-breadcrumb-last-item-color
@breadcrumb-last-item-color
endsnippet


snippet antd-theme-variable-breadcrumb-font-size
@breadcrumb-font-size
endsnippet


snippet antd-theme-variable-breadcrumb-icon-font-size
@breadcrumb-icon-font-size
endsnippet


snippet antd-theme-variable-breadcrumb-link-color
@breadcrumb-link-color
endsnippet


snippet antd-theme-variable-breadcrumb-link-color-hover
@breadcrumb-link-color-hover
endsnippet


snippet antd-theme-variable-breadcrumb-separator-color
@breadcrumb-separator-color
endsnippet


snippet antd-theme-variable-breadcrumb-separator-margin
@breadcrumb-separator-margin
endsnippet


snippet antd-theme-variable-slider-margin
@slider-margin
endsnippet


snippet antd-theme-variable-slider-rail-background-color
@slider-rail-background-color
endsnippet


snippet antd-theme-variable-slider-rail-background-color-hover
@slider-rail-background-color-hover
endsnippet


snippet antd-theme-variable-slider-track-background-color
@slider-track-background-color
endsnippet


snippet antd-theme-variable-slider-track-background-color-hover
@slider-track-background-color-hover
endsnippet


snippet antd-theme-variable-slider-handle-border-width
@slider-handle-border-width
endsnippet


snippet antd-theme-variable-slider-handle-background-color
@slider-handle-background-color
endsnippet


snippet antd-theme-variable-slider-handle-color
@slider-handle-color
endsnippet


snippet antd-theme-variable-slider-handle-color-hover
@slider-handle-color-hover
endsnippet


snippet antd-theme-variable-slider-handle-color-focus
@slider-handle-color-focus
endsnippet


snippet antd-theme-variable-slider-handle-color-focus-shadow
@slider-handle-color-focus-shadow
endsnippet


snippet antd-theme-variable-slider-handle-color-tooltip-open
@slider-handle-color-tooltip-open
endsnippet


snippet antd-theme-variable-slider-handle-shadow
@slider-handle-shadow
endsnippet


snippet antd-theme-variable-slider-dot-border-color
@slider-dot-border-color
endsnippet


snippet antd-theme-variable-slider-dot-border-color-active
@slider-dot-border-color-active
endsnippet


snippet antd-theme-variable-slider-disabled-color
@slider-disabled-color
endsnippet


snippet antd-theme-variable-slider-disabled-background-color
@slider-disabled-background-color
endsnippet


snippet antd-theme-variable-tree-title-height
@tree-title-height
endsnippet


snippet antd-theme-variable-tree-child-padding
@tree-child-padding
endsnippet


snippet antd-theme-variable-tree-directory-selected-color
@tree-directory-selected-color
endsnippet


snippet antd-theme-variable-tree-directory-selected-bg
@tree-directory-selected-bg
endsnippet


snippet antd-theme-variable-collapse-header-padding
@collapse-header-padding
endsnippet


snippet antd-theme-variable-collapse-header-padding-extra
@collapse-header-padding-extra
endsnippet


snippet antd-theme-variable-collapse-header-bg
@collapse-header-bg
endsnippet


snippet antd-theme-variable-collapse-content-padding
@collapse-content-padding
endsnippet


snippet antd-theme-variable-collapse-content-bg
@collapse-content-bg
endsnippet


snippet antd-theme-variable-skeleton-color
@skeleton-color
endsnippet


snippet antd-theme-variable-transfer-header-height
@transfer-header-height
endsnippet


snippet antd-theme-variable-transfer-disabled-bg
@transfer-disabled-bg
endsnippet


snippet antd-theme-variable-transfer-list-height
@transfer-list-height
endsnippet


snippet antd-theme-variable-message-notice-content-padding
@message-notice-content-padding
endsnippet


snippet antd-theme-variable-wave-animation-width
@wave-animation-width
endsnippet


snippet antd-theme-variable-alert-success-border-color
@alert-success-border-color
endsnippet


snippet antd-theme-variable-alert-success-bg-color
@alert-success-bg-color
endsnippet


snippet antd-theme-variable-alert-success-icon-color
@alert-success-icon-color
endsnippet


snippet antd-theme-variable-alert-info-border-color
@alert-info-border-color
endsnippet


snippet antd-theme-variable-alert-info-bg-color
@alert-info-bg-color
endsnippet


snippet antd-theme-variable-alert-info-icon-color
@alert-info-icon-color
endsnippet


snippet antd-theme-variable-alert-warning-border-color
@alert-warning-border-color
endsnippet


snippet antd-theme-variable-alert-warning-bg-color
@alert-warning-bg-color
endsnippet


snippet antd-theme-variable-alert-warning-icon-color
@alert-warning-icon-color
endsnippet


snippet antd-theme-variable-alert-error-border-color
@alert-error-border-color
endsnippet


snippet antd-theme-variable-alert-error-bg-color
@alert-error-bg-color
endsnippet


snippet antd-theme-variable-alert-error-icon-color
@alert-error-icon-color
endsnippet


snippet antd-theme-variable-list-header-background
@list-header-background
endsnippet


snippet antd-theme-variable-list-footer-background
@list-footer-background
endsnippet


snippet antd-theme-variable-list-empty-text-padding
@list-empty-text-padding
endsnippet


snippet antd-theme-variable-list-item-padding
@list-item-padding
endsnippet


snippet antd-theme-variable-list-item-meta-margin-bottom
@list-item-meta-margin-bottom
endsnippet


snippet antd-theme-variable-list-item-meta-avatar-margin-right
@list-item-meta-avatar-margin-right
endsnippet


snippet antd-theme-variable-list-item-meta-title-margin-bottom
@list-item-meta-title-margin-bottom
endsnippet


snippet antd-theme-variable-statistic-title-font-size
@statistic-title-font-size
endsnippet


snippet antd-theme-variable-statistic-content-font-size
@statistic-content-font-size
endsnippet


snippet antd-theme-variable-statistic-unit-font-size
@statistic-unit-font-size
endsnippet


snippet antd-theme-variable-statistic-font-family
@statistic-font-family
endsnippet


snippet antd-theme-variable-drawer-header-padding
@drawer-header-padding
endsnippet


snippet antd-theme-variable-drawer-body-padding
@drawer-body-padding
endsnippet


snippet antd-theme-variable-timeline-width
@timeline-width
endsnippet


snippet antd-theme-variable-timeline-color
@timeline-color
endsnippet


snippet antd-theme-variable-timeline-dot-border-width
@timeline-dot-border-width
endsnippet


snippet antd-theme-variable-timeline-dot-color
@timeline-dot-color
endsnippet


snippet antd-theme-variable-timeline-dot-bg
@timeline-dot-bg
endsnippet
