priority -50

snippet bmp-react-component-tpl
// deps
import { View } from '@binance/mp-components'
import React, { type FC } from 'react'

// type definitions
export type Props = Record<string, unknown>

// global variables

// global functions

// ui components

const ${1}: FC<Props> = () => {
	// use state

	// use data

	// local variables

	// local functions

	// effects

	return <View>
		${2:$1}
	</View>
}

export default $1
endsnippet
