priority -50

snippet react-component-tpl
// deps
import React, { FC, useState } from 'react'

// type definitions
type Props = {}

// global variables

// global functions

// ui components

const ${1}: FC<Props> = () => {
	// use hooks
	const [${3/\w+\s*/\l$0/}, set${3:State}] = useState(null)

	// local variables

	// local functions

	// effects

	return <>
		${2:$1}
	</>
}

export default $1
endsnippet
